<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CagriMerkezi2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CagriMerkezi2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

    <link rel="stylesheet" href="site.css" />
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CagriMerkezi2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Yonlendirme">Yönlendirme</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SSH">SSH</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Iletisim">İletişim</a>
                        </li>

                        <!-- Yetki "admin" ya da "user" ise görüntüle -->
                        @if ((string)ViewBag.Yetki == "admin" || (string)ViewBag.Yetki == "user")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Giris" asp-action="Index">Dashboard</a>
                            </li>
                        }



                    </ul>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Kullanici" asp-action="Login" style="color:white">Login</a>
                    </li>
                 
                </div>

            </div>
        </nav>
    </header>

    <!-- Yetki "admin" ya da "user" ise görüntüle -->
    @if ((string)ViewBag.Yetki == "admin" || (string)ViewBag.Yetki == "user")
    {
        <nav class="sidebar">

            <ul>
                <li>
                    <a href="@Url.Action("Index", "Giris")">
                        <span class="simge"><i class="fas fa-house-user"></i></span>
                        <span class="baslik">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Sikayet")">
                        <span class="simge"><i class="fas fa-indent"></i></span>
                        <span class="baslik">Şikayetler</span>
                    </a>
                </li>

                <!-- Sadece Admin için Görünür -->
                @if ((string)ViewBag.Yetki == "admin")
                {
                    <li>
                        <a href="@Url.Action("Index", "SikayetDurum")">
                            <span class="simge"><i class="fas fa-industry"></i></span>
                            <span class="baslik">Şikayet Durumları</span>
                        </a>
                    </li>
                }

                <li>
                    <a href="@Url.Action("Index", "CagriMerkezi")">
                        <span class="simge"><i class="fas fa-headset"></i></span>
                        <span class="baslik">Çağrı Merkezi</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Calisan")">
                        <span class="simge"><i class="fas fa-users"></i></span>
                        <span class="baslik">Çalışanlar</span>
                    </a>
                </li>

                <!-- Sadece Admin için Görünür -->
                @if ((string)ViewBag.Yetki == "admin")
                {
                    <li>
                        <a href="@Url.Action("Index", "Kullanici")">
                            <span class="simge"><i class="fas fa-user"></i></span>
                            <span class="baslik">Kullanıcılar</span>
                        </a>
                    </li>
                }

                <!-- Sadece Admin için Görünür -->
                @if ((string)ViewBag.Yetki == "admin")
                {
                    <li>
                        <a href="@Url.Action("Index", "Birim")">
                            <span class="simge"><i class="fas fa-building"></i></span>
                            <span class="baslik">Birim</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Departman")">
                            <span class="simge"><i class="fas fa-city"></i></span>
                            <span class="baslik">Departman</span>
                        </a>
                    </li>
                }

                <li>
                    <a href="@Url.Action("Logout", "Kullanici")">
                        <span class="simge">-></span>
                        <span class="baslik">Logout</span>
                    </a>
                </li>

            </ul>

        </nav>
    }
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
