@model List<Calisan>

<div class="container">

    <div class="row pt-3 pb-4">

        <div>

            <h1>Çalışan Sayfası</h1>
            <hr />

        </div>

    </div>

    <table class="table table-bordered">

        <thead>

            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>TC</th>
                <th>Adres</th>
                <th>Mail</th>
                <th>Tel No</th>
                <th>Sorumlu Birim</th>
                <th>Sorumlu Departman</th>
                <th> </th>
                <th> </th>

            </tr>

        </thead>

        <tbody>

            @foreach (var calisan in Model)
            {
                <tr>
                    <td>@calisan.Id</td>
                    <td>@calisan.Ad</td>
                    <td>@calisan.Soyad</td>
                    <td>@calisan.TC</td>
                    <td>@calisan.Adres</td>
                    <td>@calisan.Mail</td>
                    <td>@calisan.TelNo</td>
                    <td>@calisan.Birim.Ad</td>
                    <td>@calisan.Departman.Ad</td>

                    <td>
                        <a asp-controller="Calisan" asp-action="EkleGuncelle" asp-route-id="@calisan.Id" type="button"
                           class="btn btn-success" style="width:250px">Güncelle</a>
                    </td>
                    <td>
                        <a asp-controller="Calisan" asp-action="Sil" asp-route-id="@calisan.Id" type="button"
                           class="btn btn-danger" style="width:250px">Sil</a>
                    </td>

                </tr>
            }

        </tbody>

    </table>

    <div class="row pt-3 pb-2">

        <div>

            <a asp-controller="Calisan" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">Çalışan Ekle</a>

        </div>

    </div>

</div>
