@model List<Departman>

<table class="table table-bordered">

    <thead>

        <tr>


        </tr>

    </thead>

    <tbody>

        @foreach (var departman in Model)
        {
            <tr>

                <td>@departman.Id</td>
                <td>@departman.Ad</td>
                <td>
                    @if (departman.Birim != null)
                    {
                        @departman.Birim.Ad
                    }
                    else
                    {
                        <span>Birim bilgisi bulunamadı</span>
                    }
                </td>

                <td>
                    <a asp-controller="Departman" asp-action="EkleGuncelle" asp-route-id="@departman.Id" type="button"
                       class="btn btn-success" style="width:200px">Güncelle</a>
                </td>
                <td>
                    <a asp-controller="Departman" asp-action="Sil" asp-route-id="@departman.Id" type="button"
                       class="btn btn-danger" style="width:200px">Sil</a>
                </td>

            </tr>
        }

    </tbody>

</table>
